# SPDX-FileCopyrightText: 2022 Sascha Brawer <sascha@brawer.ch>
# SPDX-License-Identifier: MIT

*~
/osmviews-builder
/qrank-builder
/qrank-webserver
/webserver
cache/
cache-testrun/
keys/
logs/
webserver-workdir/
